---
import type { FaqItem } from "../data/site";

interface Props {
  items: FaqItem[];
}

const { items } = Astro.props;
---

<div class="faq-list">
  {items.map((item) => (
    <details>
      <summary>{item.question}</summary>
      <p>{item.answer}</p>
    </details>
  ))}
</div>
